<!DOCTYPE html>
<html lang="en">
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<head>
    
    <link href="catalog/view/theme/MiuKid/stylesheet/index.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"  rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовое задание </title>


</head>

<body>
    <header>
        <div>
            <div class="header_top">
                <div>
                    <h1>{{ text_company }}</h1>
                </div>
                <div class="map">
                    <a href=""><img src="catalog/view/theme/MiuKid/image/Icon.png">{{text_city}}</a>
                </div>
                <div>
                    <span>{{text_sales_department}} </span>
                    <b>{{text_mail_sales_department}}</b>
                </div>
                <div>
                    <span>{{text_department_support}} </span>
                    <b>{{text_mail_department_support}}</b>
                </div>
            </div>


            <div class="header_bottom">
                <div>
                    <a href=""><img class="logo" src="catalog/view/theme/MiuKid/image/logo.png"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">{{text_video_tutorials}}</a></li>
                        <li><a href="#">{{text_about_us}}</a></li>
                        <li><a href="#">{{text_support}}</a></li>
                        <li><a href="#">{{text_faq}}</a></li>
                        <li><a href="#">{{text_reviews}}</a></li>
                        <li><a href="#">{{text_news}}</a></li>
                        <li><a href="#">{{text_contacts}}</a></li>
                    </ul>
                </div>
                <div class="cart">
                    <a href=""><img src="catalog/view/theme/MiuKid/image/basket.png"></a>
                </div>
                <div class="phoneNumb">
                    <ul>
                        <li>{{text_number}}</li>
                        <a href="">
                            <li>{{text_request_call}}</li>
                        </a>
                    </ul>
                </div>
                <div class="mobile_burger">
                    <div class="search">
                        <button type="button"><img src="catalog/view/theme/MiuKid/image/search.png"></button>
                    </div>
                    <div class="burger">
                        <button type="menu"><img src="catalog/view/theme/MiuKid/image/dropdown.svg"></button>
                    </div>
                </div>
            </div>
        </div>

    </header>
</body>

</html>